body {
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 150%;
    color: #333;
    background: rgb(238, 236, 236);
  }

  .nav {
    background-color: #2cb7a4
    
  }

  .container {
    max-width: 60em; 
    margin: 30px auto;
  }
  
  
  p {
      height: 75%;
      width: 75%;
      background-color:white;}

  header {
    background: gray;
  }
  
  h1 {
    padding: 40px;
    margin: 40px;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: left;
    background: #2cb7a4;
  }
  
  
  
  
  
  
